<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text-white ms-2" href="/">Agenda</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link text-white fw-bold" href="/contato/index">Cadastrar contato</a>
        </li>

        <% if (typeof user !== 'undefined' && user) { %>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="/login/logout">Sair</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="/login/index">Entrar</a>
          </li>
        <% } %>


      </ul> 
    </div>
  </div>
</nav>